:root {
    --main-bc: rgba(31, 3, 40, 1);
    --second-bc: #600ca6;
    --text-c: #DCC4FF;
}

* {
    font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 10px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(14, 2, 31, 1) 50%);;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
}

header .logo img {
    width: 120px;
    height: 120px;
}

header a p {
    text-decoration: none;
    color: var(--text-c);
    font-size: 30px;
}

header a {
    text-decoration: none;
    transition: 0.5s;
}

header a p:hover {
    color: var(--second-bc) !important;
    
}

header .navigation ul{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
    
}

header .tt, .insta {
    width: 45px;
    height: 45px;
    
}

.smedia_logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 40px;
    gap: 15px;
}

body {
    background-color: black; 
}

main {
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}

.the_race img{
    width: 1000px;
    height: auto; 
    max-width: 90%; 
    margin-top: 20px;
}

.the_race {
    padding: 50px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #DCC4FF;
    transition: 0.8s;
    font-size: 60px;
    text-align: center;
}

h1:hover {
    color: #600ca6;
}

.about {
    background-color: #07010d;
    width: 99.9%;
    border-top: #2c1a47 solid 1.5px;
    border-bottom: #2c1a47 solid 1.5px;
}

.about .cards {
    background-color: #07010d;
    width: 90%;
    padding: 80px 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about .card1, .card2 {
    padding: 15px;
    background-color: #0a0112;
    border: 2px solid #600ca6;
    width: 500px;
    height: 940px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about .card1 {
    margin-left: 100px;
}

.about img {
    width: 450px;
    height: 600px;
}

.about h2 {
    color: var(--text-c);
    font-size: 65px;
    text-align: center;
}

.about h3 {
    color: var(--text-c);
    font-size: 38px;
}

.about p {
    color: var(--text-c);
    font-size: 26px;
    text-align: center;
}

.hl {
    background-color:  black;
    width: 99.9%;
}

.hl p {
    color: var(--text-c);
    font-size: 24px;
    text-align: center;
}

.hl h2 {
    color: var(--text-c);
    font-size: 50px;
    text-align: center;
    margin-bottom: 55px;
}

.hl h3 {
    color: var(--text-c);
    font-size: 32px;
}

.hl .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hl ul {
    list-style: none;
}

.hl .music, .hl .food, .hl .when_where {
    padding: 25px;
    background-color: #0a0112;
    border: 2px solid #600ca6;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 380px;
    transition: all 0.4s ease;
}

.hl .music:hover, 
.hl .food:hover, 
.hl .when_where:hover {
    border-color: #8a2cd6;
    box-shadow: #8a2cd6 0px 5px 15px;
    transform: translateY(-10px);
}

.hl li {
    color: var(--text-c);
    font-size: 24px;
}

.hl li span {
    color:#600ca6;
    margin: 5px;
}

.hl .music:hover span {
    color: #dbc7fa;
    font-size: 33px;
}

.hl .music span {
     color: #dcc8fa;
     font-size: 32px;
}

.hl .food span {
    color: #ebf74d;
     font-size: 20px;
}

.hl .food:hover span {
    color: #ecf573;
    font-size: 26px;
}

.cost {
    color: var(--text-c);
    margin-bottom: 40px;
    border-top: var(--text-c) solid 1.5px;
    margin-top: 55px;
}

.cost h2 {
    text-align: center;
    font-size: 54px;
}

.cost .cost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.cost .spectator, .participant {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    transition: all 0.4s ease;
}

.cost .spectator {
    border: 2px solid #600ca6;
    border-radius: 10%;
}

.cost .participant {
    border: 4px solid #7420b9;
    border-radius: 11.5%;
    background-color: #30024456;
    box-shadow: #8a2cd6 0px 4px 12px;
}

.cost h3 {
    font-size: 40px;
    margin: 5px 0px;
}

.cost span {
    font-size: 34px;
    color:#e0cffa;
}

.cost li p {
    font-size: 22px;
}

.cost button {
    background-color: #f8e6ff;
    border-radius: 999px;
    transition: 0.5s;
    padding: 10px;
    width: 350px;
}

.cost a {
    text-decoration: none;
    font-size: 28px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cost button:hover {
    background-color: #bcaec2;
}

.footer {
    background: linear-gradient(90deg,rgba(27, 7, 51, 1) 0%, rgba(41, 11, 82, 1) 23%, rgba(91, 40, 158, 1) 50%, rgba(31, 0, 71, 1) 80%, rgba(14, 2, 31, 1) 100%);
}

.footer h2 {
    color: var(--text-c);
    font-size: 48px;
    text-align: center;
    text-shadow: var(--text-c) 0px 1px 2px;
}

.footer p {
    color: var(--text-c);
    font-size: 24px;
    text-align: center;
}
