

header {
    width: 99%;
    height: 120px;
    padding: 10px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(14, 2, 31, 1) 50%);;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
}

header .logo img {
    width: 120px;
    height: 120px;
}

header a p {
    text-decoration: none;
    color: #DCC4FF;
    font-size: 30px;
}

header a {
    text-decoration: none;
}

header .navigation ul{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
    
}

header .tt, .insta {
    width: 45px;
    height: 45px;
    
}

.smedia_logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 40px;
    gap: 15px;
}

body {
    background-color: black; 
}

.the_race img{
    width: 1300px;
    height: 800px;
    position: absolute;
    left: 50%;
    up: 50%;
    transform: translate(-50%);
}

.the_race {
    position: relative;
}
